{% extends 'base.html' %}
{% load static %}

{% block title %} پنل کاربری | وبسایت دبیرستان دوره دوم علامه حلی ۵ تهران {% endblock %}

{% block content %}
<header class="hero">
    <div class="hero-image" style="background-image: url({% static '/images/کتابخانه-دبیرستان-علامه-حلی۵.jpg' %})"></div>
    <h1 class="display-3">
        پنل کاربری
        ({{ user.first_name }} {{ user.last_name }})
    </h1>
</header>

<section>
    <div class="container py-5">
        <div class="row d-flex align-items-stretch no-gutters">
            {% include 'user_sidebar.html' %}
            <div class="col-md-9 text-center p-5">
                <h3>خوش آمدید</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}