{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="hero">
    <div class="hero-image" style="background-image: url({% static '/images/کتابخانه-دبیرستان-علامه-حلی۵.jpg' %})"></div>
    <h1 class="display-3">
        پنل کاربری
        ({{ user.first_name }} {{ user.last_name }})
    </h1>
</header>

<section>
    <div class="container py-5">
        <div class="row d-flex align-items-stretch no-gutters order-md-last">
            {% include 'user_sidebar.html' %}
            <div class="col-md-9 text-center p-4 p-md-5 bg-light" style="border-radius: 20px">
                <div class="shadow-sm bg-light p-4 rounded">
                    {% if set_password_form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            {{ set_password_form.errors }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <form id="set_password_form" method="post" action="{% url 'set-oneTimeEntry-password' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="username">نام کاربری</label>
                            <input type="text" class="form-control" id="username" name="username" required placeholder="نام کاربری">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password2">گذرواژه یکبارمصرف</label>
                            <input type="password" class="form-control" id="password" name="password" required placeholder="گذرواژه جدید">
                        </div>
                        <input type="hidden" name="submit" value="ثبت">
                        <button class="btn btn-primary btn-lg d-block w-100" type="submit">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

