{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="background-image: url({% static '/images/کتابخانه-دبیرستان-علامه-حلی۵.jpg' %}); background-position: center center;">
        <div class="col-12 col-md-6 col-lg-4 px-3 py-3 py-md-5">
            <div class="shadow-sm bg-light p-4 rounded">
                {% if set_password.errors %}
                    {{ set_password.errors }}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        رمزهای عبور وارد شده یکسان نیستند.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <form id="set_password" method="post" action="{% url 'set-own-password' %}">
                    {% csrf_token %}
                    <h5>یک گذرواژه جدید وارد کنید.</h5>
                    <div class="mb-3">
                        <label class="form-label" for="password1">گذرواژه</label>
                        <input type="password" class="form-control" id="password1" name="password1" required placeholder="گذرواژه جدید">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password2">تکرار گذرواژه</label>
                        <input type="password" class="form-control" id="password2" name="password2" required placeholder="تکرار گذرواژه جدید">
                    </div>
                    <div class="alert alert-danger">توجه: بعد از تغییر گذرواژه دوباره با گذرواژه جدید باید وارد شوید.</div>
                    <input type="hidden" name="submit" value="ثبت">
                    <button class="btn btn-primary btn-lg d-block w-100" type="submit">ثبت</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

