<div class="col-md-3 order-md-last bg-light" style="border-radius: 20px">
    <img class="card-img-top" src="{{ user.profile.img.url }}">
    <div class="card-body">
        <h5 class="card-title text-center">{{ user.first_name }} {{ user.last_name }}</h5>
        <p class="card-text text-center">({{ user.username }})</p>
    </div>
    <hr>
    <div class="card-body text-right" dir="rtl">
        <ul>
            {% if user.profile.role == 'student' %}
            <li>
                <a href="{% url 'student-reports' %}" class="card-link">کارنامه ها</a>
            </li>
            {% endif %}
            {% if perms.courseApp.add_report %}
            <li class="card-link">
                <a href="{% url 'add-reports' %}">بارگذاری کارنامه‌ها</a>
            </li>
            {% endif %}
            {% if perms.loginApp.add_profile %}
            <li class="card-link">
                <a href="{% url 'user-bunch-add' %}">اضافه کردن گروهی کاربرها</a>
            </li>
            {% endif %}
            {% if perms.auth.change_user %}
            <li class="card-link">
                <a href="{% url 'change-user-password' %}">تغییر گذرواژه کاربر</a>
            </li>
            {% endif %}
            {% if perms.loginApp.view_preregisteredstudent %}
            <li class="card-link">
                <a href="{% url 'export-pres' %}">خروجی پیش ثبت نامی ها - کل</a>
            </li>
            <li class="card-link">
                <a href="{% url 'export-pres-current' '2024' %}">خروجی پیش ثبت نامی ها - سال جاری</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'logout' %}" class="card-link">خروج</a>
            </li>
        </ul>
    </div>
</div>